@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime

<PageTitle>Micro Dev</PageTitle>

<div id="canvasHolder" class="canvas-host">
    <canvas id="theCanvas" class="game-canvas"></canvas>
</div>
